<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqh.dao.GoodsMapper">

  <insert id="addGoods" parameterType="goods">
    insert into goods (uid, goods_name, goods_type, goods_price, business, goods_description)
        values (#{uId}, #{goodsName}, #{goodsType}, #{goodsPrice}, #{business}, #{description})
  </insert>

  <select id="findByType" resultType="goods">
    select * from goods where goods_type = #{goodType}
  </select>

   <select id="getAllGoods" resultType="goods">
       select * from goods
   </select>

    <select id="getGoodsPrice" resultType="double">
        select goods_price from goods where goods_name = #{goodsName};
    </select>


<!--  foreach 添加多条记录-->
  <insert id="addGoodsList">
    insert into goods (<include refid="addCommon"/>)
        values <foreach collection="goods" separator="," item="goods" open="(" close=")">
        #{goods.uId}, #{goods.goodsName}, #{goods.goodsType}, #{goods.goodsPrice}, #{goods.business},#{goods.description}
    </foreach>
  </insert>


    <delete id="deleteGoods">
        delete from goods where uid = #{uId};
    </delete>

    <update id="updateGoods">
        update goods set
            <if test="goodsName != null">
                goods_name = #{goodsName},
            </if>
            <if test="goodsType != null">
                goods_type = #{goodsType},
            </if>
            <if test="goodsPrice != null">
                goods_price = #{goodsPrice},
            </if>
            <if test="business != null">
                business = #{business}
            </if>
            <if test="goodsSold != null">
                ,goods_sold = goods_sold + #{goodsSold}
            </if>
            <if test="description != null">
                ,goods_description = #{description}
            </if>
            where uid = #{uId} or business = #{business}
    </update>

    <select id="searchGoods" resultType="goods">
        select * from goods where goods_name like concat('%',#{gName},'%')
    </select>

    <select id="getGoodsByName" resultType="goods">
        select * from goods where goods_name = #{gName}
    </select>

<!--    public Goods getGoodsById(@Param("id") Integer id)-->
    <resultMap id="goodsIdMap" type="goods">
        <id column="id" property="id"/>
        <result column="uid" property="uId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="goods_type" property="goodsType"/>
        <result column="goods_price" property="goodsPrice"/>
        <result column="business" property="business"/>
        <result column="goods_sold" property="goodsSold"/>
        <result column="goods_img" property="goodsImg"/>
        <result column="goods_description" property="description"/>
    </resultMap>
    <select id="getGoodsById" resultMap="goodsIdMap">
        select * from goods where id = #{id}
    </select>

<!--    public List<Goods> getGoodsByType(@Param("type") String type);-->
    <resultMap id="goodsTypeMap" type="goods">
        <id column="id" property="id"/>
        <result column="uid" property="uId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="goods_type" property="goodsType"/>
        <result column="business" property="business"/>
        <result column="goods_sold" property="goodsSold"/>
        <result column="goods_img" property="goodsImg"/>
        <result column="goods_description" property="description"/>
    </resultMap>
    <select id="getGoodsByType" resultMap="goodsTypeMap">
        select * from goods where goods_type = #{type}
    </select>

<!--  sql片段-->
  <sql id="addCommon">
        <if test="_parameter != null">
            uid, goods_name, goods_type, goods_price, business, goods_description
        </if>
  </sql>

</mapper>